<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_app"
        android:label="Mind Bloom"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="false"
        android:theme="@style/Theme.Mindbloom"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false" />
        <activity
        android:name=".Activity.LoginFragmentActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".Activity.Homepage_Activity"/>
        <activity android:name=".Activity.Community_Activity"/>
        <activity android:name=".Activity.ChatbotActivity"/>
        <activity android:name=".Activity.ProfileActivity"/>
        <activity android:name=".Activity.EditProfileActivity"/>
        <activity android:name=".Activity.ExpertFragmentActivity"/>
        <activity android:name=".uploadDiaryActivity" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity android:name=".Activity.FormDetailActivity"
            android:exported="false"/>

    </application>
</manifest>